Cython==0.29.34
funcy==1.16
flashlight-text==0.0.2
librosa==0.10.0.post2
matplotlib==3.7.1
mlflow==2.3.2
numba==0.57.0
numpy==1.21.2
opencv-python==4.7.0.72
pandas==2.0.1
pydicom==2.2.2
PyYAML==6.0
sacred==0.8.4
scikit-image==0.18.3
scikit-learn==1.2.2
seaborn==0.12.2
shapely==2.0.1
statsmodels==0.14.0
tensorboardX==2.6
tgt==1.4.4
torch==2.0.1
torchaudio==2.0.2
torchmetrics==0.11.4
torchvision==0.15.2
tqdm==4.65.0
ujson==5.7.0

# This repository depends on vt_tools, which holds general purpose code. Another requirement is
# vt_shape_gen, which holds inference code for generating the shape of the vocal tract. It can be
# one by installing directly from the repo or by cloning the repo and installing from local.

# Install directly from the repo
# git+https://gitlab.inria.fr/vsouzari/vt_tools.git
# git+https://gitlab.inria.fr/vsouzari/vt_shape_gen.git

# Clone the repo 'https://gitlab.inria.fr/vsouzari/vt_tools.git' and install from local
-e ../vt_tools
-e ../vt_shape_gen
