cython
funcy
librosa
matplotlib
mlflow
numpy>=1.21
opencv-python
pandas
pydicom
PyYAML
sacred
scikit-learn
scikit-image
seaborn
shapely
statsmodels
tensorboardX
tgt
torch
torchaudio
torchmetrics
torchvision
tqdm
ujson

# This repository depends on vt_tools, which holds general purpose code. Another requirement is
# vt_shape_gen, which holds inference code for generating the shape of the vocal tract. It can be
# one by installing directly from the repo or by cloning the repo and installing from local.

# Install directly from the repo
# git+https://gitlab.inria.fr/vsouzari/vt_tools.git
# git+https://gitlab.inria.fr/vsouzari/vt_shape_gen.git

# Clone the repo 'https://gitlab.inria.fr/vsouzari/vt_tools.git' and install from local
-e ../vt_tools
-e ../vt_shape_gen
