datadir: /path/to/ArtSpeech_Database
n_epochs: 300
patience: 20
learning_rate: 0.0001
train_filepath: /path/to/train_data_file.json
valid_filepath: /path/to/valid_data_file.json
test_filepath: /path/to/test_data_file.json.json
vocab_filepath: /path/to/vocabulary.json
n_keypoints: 2
articulators:
  - lower-lip
  - pharynx
  - soft-palate
  - tongue
  - upper-lip